* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Staatliches", cursive;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header {
  display: flex;
  height: 100px;
  color: #fff;
  background-color: #000000;
  align-items: center;
}
header .img1 {
  height: 50px;
  margin-left: 10px;
}
header ul {
  list-style: none;
  margin: 30px;
  text-align: right;
  font-size: 20px;
}
header ul li {
  display: inline-block;
  margin: 10px;
  padding: 20px;
}
header #nav {
  flex: 1;
}
header .ham {
  height: 20px;
  width: 20px;
  margin-right: 15px;
  display: none;
  cursor: pointer;
}
header .ham .bar {
  width: 100%;
  height: 2px;
  background-color: #fff;
}
header #bar2 {
  transform: translateY(10px);
}
header #bar1 {
  transform: translateY(5px);
}
.introBody {
  background-image: url(images/img11.jpg);
  background-size: cover;
  height: 800px;
}
.flex-item1 {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 30px;
  margin: 40px;
  justify-content: center;
  align-items: center;
}
.flex-item1 h1 {
  color: #fff;
  font-weight: bold;
  font-size: 45px;
}
.button {
  background-color: #000;
  border: none;
  margin-top: 20px;
  color: #fff;
}

.intro {
  height: 500px;
  background: linear-gradient(to top left, #fff 70%, #d8c9bb);
  padding: 15px 0;
}
.flex-item2 {
  flex-basis: 50%;
}
.flex-item2 .img2 {
  height: 100%;
}
.flex-item2 h2 {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 20px;
}
.flex-item2 p {
  text-align: justify;
  margin-right: 20px;
  padding: 20px;
  position: relative;
}
.flex-item2 p::before {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #bababa;
  width: 100px;
  margin-bottom: 20px;
}
.parallaxImage {
  height: 500px;
  background-image: url(images/img18.jpg);
  background-size: cover;
  background-attachment: fixed;
}
button i {
  margin-left: 10px;
}
.parallaxImage .parabox {
  flex-basis: 50%;
  margin: 40px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 20px;
}
.parallaxImage h2 {
  font-size: 40px;
  position: relative;
  width: 100%;
  color: #fff;
}
.mating {
  padding: 30px;
  background: linear-gradient(to bottom right, #fff 70%, #d8c9bb);
}
h2::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 50px;
  background-color: pink;
}
.relative {
  position: relative;
}
.product .container {
  background: radial-gradient(ellipse, #fff, rgba(0, 0, 0, 0.04));
  border-radius: 30px;
}
.flex-item3 {
  flex-basis: 33%;
  padding: 20px;
}
.flex-item3 img {
  height: 250px;
}
.flex-item3 h3 {
  font-size: 20px;
  font-weight: bold;
}
.product h2 {
  font-weight: bold;
  font-size: 35px;
  margin-top: 20px;
}
.flex-item3 .customH4 {
  font-family: "Oswald", sans-serif;
  position: absolute;
  padding: 1px;
  font-size: 15px;
  top: 32px;
  z-index: 10;
  color: #fff;
}
.flex-item3 .custom img {
  height: 55px;
  margin-top: 15px;
}
.custom {
  cursor: pointer;
  transition: all 0.5s ease;
}
.custom:hover {
  transform: scale(1.15);
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

@media (max-width: 700px) {
  .flex-item1,
  .flex-item2,
  .parabox {
    flex-basis: 100%;
  }
  .intro {
    height: 700px;
  }
  .parallaxImage {
    background-image: url(images/acc8.jpg);
  }
  .parallaxImage .parabox {
    flex-basis: 100%;
  }

  header ul {
    display: none;
  }
  header .ham {
    display: block;
  }
  .introBody {
    background-image: url(images/img4.jpg);
  }
  .mating {
    height: auto;
  }
  .mating img {
    height: 100%;
    width: 90%;
    margin-left: 0;
  }
}
