* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Staatliches", cursive;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header {
  display: flex;
  height: 80px;
  color: #fff;
  background-color: #000000;
  align-items: center;
  z-index: 100;
  position: fixed;
  width: 100%;
}
header .img1 {
  height: 50px;
  margin-left: 10px;
  flex: 1;
}
header ul {
  list-style: none;
  margin: 30px;
  text-align: right;
  font-size: 20px;
}
header ul li {
  display: inline-block;
  margin: 15px;
  padding: 20px;
  position: relative;
  cursor: pointer;
  text-align: center;
}
header ul li::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: 2px solid transparent;
  bottom: 10px;
  left: 1px;
  box-sizing: border-box;
}
header ul li:hover::before {
  height: 50px;
  width: 100%;
  border: 2px solid #fff;
  border-right: none;
  border-bottom: none;
  transition: height 0.25s linear, width 0.25s linear 0.25s;
}
header ul li::after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border: 2px solid transparent;
  top: 10px;
  right: -1px;
  box-sizing: border-box;
}
header ul li:hover::after {
  height: 50px;
  width: 100%;
  border: 2px solid #cdb3a0;
  border-left: none;
  border-top: none;
  transition: height 0.25s linear, width 0.25s linear 0.25s;
}
header #nav {
  flex: 1;
}
header .ham {
  height: 20px;
  width: 20px;
  margin-right: 15px;
  display: none;
  cursor: pointer;
}
header .ham .bar {
  width: 100%;
  height: 2px;
  background-color: #fff;
}
header #bar2 {
  transform: translateY(10px);
  transition: 0.4s ease all;
}
header #bar1 {
  transform: translateY(5px);
  transition: 0.4s ease all;
}
.rotate #bar1 {
  position: relative;
  top: 2px;
  transform: rotate(45deg);
}
.rotate #bar2 {
  transform: rotate(-45deg);
}
.introBody {
  background-image: url(images/img11.jpg);
  background-size: cover;
  height: 800px;
}
.flex-item1 {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 30px;
  margin: 40px;
  justify-content: center;
  align-items: center;
}
.flex-item1 h1 {
  color: #fff;
  font-weight: bold;
  font-size: 45px;
}
.button {
  background-color: #000;
  border: none;
  margin-top: 20px;
  color: #fff;
}
.button:hover {
  text-shadow: 0 0 10px yellow;
}
.intro {
  background: linear-gradient(to top left, #fff 70%, #d8c9bb);
  padding: 15px 0;
  z-index: 10;
  width: 100%;
  position: relative;
}
.intro::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  transform-origin: bottom left;
  transform: skewY(0.7deg);
}
.flex-item2 {
  flex-basis: 50%;
}
.flex-item2 .img2 {
  height: 100%;
}
.flex-item2 p {
  text-align: justify;
  margin-right: 20px;
  padding: 20px;
  position: relative;
}
.flex-item2 p::before {
  position: absolute;
  content: "";
  height: 3px;
  background-color: #bababa;
  width: 100px;
  margin-bottom: 20px;
}
.parallaxImage {
  height: 500px;
  background-image: url(images/img18.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  z-index: 1;
}
button i {
  margin-left: 10px;
}
.parallaxImage .parabox {
  flex-basis: 50%;
  margin: 40px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 20px;
}
.parallaxImage h2 {
  font-size: 40px;
  position: relative;
  width: 100%;
  color: #fff;
}
.mating {
  padding: 30px;
  background: linear-gradient(to bottom right, #fff 70%, #d8c9bb);
  position: relative;
  width: 100%;
  z-index: 50;
}
.mating:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  transform-origin: top right;
  transform: skewY(1deg);
}
h2::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 50px;
  background-color: pink;
}
.relative {
  position: relative;
}
.product .container {
  background: radial-gradient(ellipse, #fff, rgba(0, 0, 0, 0.04));
  border-radius: 30px;
}
.flex-item3 {
  flex-basis: 33%;
  padding: 20px;
}
.flex-item3 img {
  height: 250px;
}
.flex-item3 h3 {
  font-size: 20px;
  font-weight: bold;
}
h2 {
  font-weight: bold;
  font-size: 35px;
  margin-top: 20px;
}
.flex-item3 .customH4 {
  font-family: "Oswald", sans-serif;
  position: absolute;
  padding: 1px;
  font-size: 15px;
  top: 32px;
  z-index: 10;
  color: #fff;
}
.flex-item3 .custom img {
  height: 55px;
  margin-top: 15px;
}
.custom {
  cursor: pointer;
  transition: all 0.5s ease;
}
.custom:hover {
  transform: scale(1.15);
  text-shadow: 0px 0px 6px yellow;
}
.packages {
  margin-top: 20px;
}
.package-image {
  height: 25px;
  position: relative;
  top: -4px;
  margin-left: 5px;
}
.package-image1 {
  height: 30px;
  position: relative;
  top: -4px;
  margin-left: 15px;
}
.swiper-container {
  margin: 0 auto;
  max-width: 40%;
  height: 500px;
}
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.swiper-slide {
  padding: 40px;
}
.carousel-control-prev {
  color: #000;
}
.absolute {
  position: absolute;
}
.swiper-slide .slide {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 500px;
  border-radius: 10px;
}
.swiper-slide h3 {
  color: #fff;
  font-size: 1.7rem;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 10px;
}
.swiper-slide li {
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  margin-top: 20px;
  color: #000;
  font-weight: bold;
}
.feedbacks .swiper-slide .img {
  height: 150px;
}
.swiper-slide button {
  margin-bottom: 10px;
}
.trimming-zone {
  margin-top: 20px;
  background: radial-gradient(#fff 50%, #dbcdc0);
}
.trimming-zone img {
  height: 300px;
}
.flex-item4 {
  flex-basis: 25%;
}
.trimming-zone #trim1,
#trim2,
#trim3,
#trim4 {
  height: 0px;
}
.trimming-zone button:nth-child(2) {
  margin: 20px 25px;
}
.display {
  transition: all 0.6s ease;
  height: 90vh;
}
.fa-star,
.fa-star-o,
.fa-star-half-empty {
  color: #d78b52;
}
.fa.fa-quote-left {
  color: #d78b52;
  font-size: 25px;
}
.feedbacks .flex-item3:hover {
  transform: scale(1.05);
  transition: 0.5s ease all;
  cursor: pointer;
}
.feedbacks .flex-item3 {
  padding: 20px;
  margin: 5px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  cursor: pointer;
}
.footer {
  margin-top: 20px;
  height: 150px;
  background-color: black;
}
.footer p {
  color: #fff;
  padding-top: 50px;
  font-size: 30px;
  text-align: center;
}
@media (max-width: 700px) {
  .flex-item1,
  .flex-item2,
  .flex-item3,
  .parabox {
    flex-basis: 100%;
  }
  .trimming-zone .flex4one,
  .flex4two {
    display: none;
  }
  header ul li:hover::before {
    display: none;
  }
  header ul li:hover::after {
    display: none;
  }
  .parallaxImage {
    background-image: url(images/acc8.jpg);
    z-index: 9;
  }
  .parallaxImage .parabox {
    flex-basis: 100%;
  }

  header ul {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 50px;
    left: -30px;
    width: 100%;
    overflow: hidden;
    height: 0px;
    transition: height 0.6s ease;
  }
  header ul li {
    display: block;
    font-size: 25px;
    margin: 60px;
    color: black;
    width: 100px;
    padding: 10px;
    position: relative;
    left: 25vw;
    text-align: center;
  }
  header ul li:hover {
    transform: scale(1.1);
    transition: 0.5s ease all;
  }
  header .ham {
    display: block;
  }
  .introBody {
    background-image: url(images/img4.jpg);
  }
  .mating {
    height: auto;
    z-index: 6;
  }
  .mating img {
    height: 100%;
    width: 90%;
    margin-left: 0;
  }
  .swiper-button-prev {
    opacity: 0;
  }
  .swiper-button-next {
    opacity: 0;
  }
}
